
<div class="row justify-content-center">

    <div class="text-center">
        <div class="card">
            <div class="card-body">
                <p>@ViewBag.message</p>

                <input type="button" value="Ok" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary" />

            </div>
        </div>
    </div>

</div>


